<!DOCTYPE html>
<html lang="">
<style>
        /* Styles for the layout */
        .content-container {
            display: flex;
            justify-content: space-between;
        }

        .content-container .text-content {
            width: 50%;
        }

        .content-container .form-container {
            width: 35%;
        }
</style>

<head>
    <title>Volunteer for the Planetarium</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 class="center-heading">Volunteer for the Planetarium</h1>
    <p>Join us in inspiring students with the wonders of the universe!</p>
 <!-- Wrap the content in a container for layout -->
    <div class="content-container">
        <!-- Text content to the right of the image -->
        <div class="text-content">
            <img src="../static/images/imageB.jpg" height="327" width="490" alt="Girl&Mobile"/>
            <h3>Volunteer Information</h3>
            <p>We know your time is valuable. Any time you can donate to help us with student outreach
            would be much appreciated! 30 to 40 students will be bussed from a state school to our
                Science Museum, where you'll spend approximately 90 minutes with
            them. Lesson plan and Planetarium routine are completely up to you! If you're
            comfortable, we ask that you then spend about half an hour fielding questions about your
            career and the subject of your presentation.</p>
            <p>Complete the form to volunteer for the planetarium. For "Availability," we are
                asking for a general wedge of time, after which we will contact you for specifics.</p>
        </div>
        <!-- Form content -->
        <div class="form-container">
            <form>
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name"><br><br>

                <label for="availability">Availability:</label>
                <textarea id="availability" name="availability" rows="4" cols="50"></textarea><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email"><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <a href="/">Back to Home</a>

<div class="page-image" style="margin-top: 150px;">
    <img src="../static/images/image5.jpg" height="286" width="490" alt="Plane-arium">
</div>


<div class="logout-link">
    <a href="{{ url_for('logout') }}">Logout</a>
</div>

</body>
</html>
