<!DOCTYPE html>
<html lang="">
<head>
    <title>Update Password</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 class="center-heading">Update Your Password</h1>

    <!-- Jinja2 sorcery to display flash messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <form method="post">
    <table>
        <tr>
            <td><label for="current_password">Current Password:</label></td>
            <td><label>
                <input type="password" name="current_password" required>
            </label></td>
        </tr>
        <tr>
            <td><label for="new_password">New Password:</label></td>
            <td><input type="password" name="new_password" id="new_password" required></td>
        </tr>
        <tr>
            <td><label for="confirm_new_password">Confirm New Password:</label></td>
            <td><input type="password" name="confirm_new_password" id="confirm_new_password"
                       required></td>
        </tr>
        <tr>
            <td colspan='2'>
                <p>Password must meet the following criteria:</p>
                <ul>
                    <li>At least 12 characters long</li>
                    <li>Contains at least one uppercase letter</li>
                    <li>Contains at least one lowercase letter</li>
                    <li>Contains at least one digit</li>
                    <li>Contains at least one special character</li>
                </ul>
                (Usernames and Passwords are CaSe SeNsItIvE!)
            </td>
        </tr>
        <tr>
            <td colspan='2'><input type="submit" value="Update Password"></td>
        </tr>
    </table>
</form>

    <h3>Back to Home</h3>
    <a href="/">Back to Home</a>

    <div class="logout-link">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
